*{
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}
.header--content{
    height: 10vh;
    background-color: rgb(130, 50, 221);
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(138, 32, 209) 0px 3px 13px 0px;
    z-index: 1;
    box-shadow: 1px 5px 5px 7px ;
    z-index: 9;
}
.header--menu {
    display: flex;
    margin-left: 100px;
}

.header--menu ul{
    display: flex;
    margin-left: 50vh;
}
.header--menu ul li{
    display: inline;
    text-decoration: none;
    margin: auto 4vh;
}
.header--menu ul li a{
    text-decoration: none;
    font-family:monospace;
    font-size: 3.5vh;
    color: white;
}
.header--menu ul li a:hover{
    color: rgba(255, 255, 255, 0.829);
}
.header--logo{
    margin-top: 0.9vh;
}
.header--logo img{
    height: 80%;
}
.header--creator{
    display: inline;
    text-decoration: none;
    margin: 4vh;
    color: rgba(255, 255, 255, 0.829);
}